{% extends 'base.html' %}
{% block content %}
<h1>Transaction {{ tx.txid }}</h1>

<table>
    <tr>
        <th>txid</th>
        <td>{{ tx.tx.txid }}</td>
    </tr>
    <tr>
        <th>locktime</th>
        <td>{{ tx.tx.locktime }}</td>
    </tr>
    <tr>
        <th>version</th>
        <td>{{ tx.tx.version }}</td>
    </tr>
</table>

{% if tx.is_coinbase %}
    <p>This is a coinbase transaction.</p>
{% endif %}

<table>
    <tr>
        {% if not tx.is_coinbase %}<th>Inputs</th>{% endif %}
        <th>Outputs</th>
    </tr>
    <tr valign="top">
        {% if not tx.is_coinbase %}<td>
            <table>
                <tr>
                    <th>address</th>
                    <th>value</th>
                </tr>
                {% for vin in tx.vin %}
                <tr>
                    <td>{{ vin.address }}</td>
                    <td>{{ vin.value }}</td>
                </tr>
                {% endfor %}
            </table>
        </td>{% endif %}
        <td>
            <table>
                <tr>
                    <th>address</th>
                    <th>value</th>
                </tr>
                {% for vout in tx.vout %}
                    <tr>
                        <td>{{ vout.address }}</td>
                        <td>{{ vout.value }}</td>
                    </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
</table>
{% endblock content %}
